# importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import joblib
import matplotlib.pyplot as plt

C:\Users\Bhavesh\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

# import the data file (.csv)

In [2]:
data = pd.read_csv('BloodPressure.csv')

In [3]:
data.head()

,Pateint,Age,Systolic,Diastolic,Sodium,Triglyceride,Output,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,44,143,85,1415,256,2,NaN,NaN,NaN,NaN
1,2,63,122,112,1635,212,1,NaN,NaN,NaN,NaN
2,3,37,104,95,1323,218,2,NaN,NaN,NaN,NaN
3,4,35,99,63,1278,204,0,NaN,NaN,NaN,NaN
4,5,76,109,117,1682,270,1,NaN,NaN,NaN,NaN

# Concatinating the dataset and converting then into array

In [4]:
x = data.iloc[:,1:6]
y = data[['Output']]

In [5]:
x.head()

   Age  Systolic  Diastolic  Sodium  Triglyceride
0   44       143         85    1415           256
1   63       122        112    1635           212
2   37       104         95    1323           218
3   35        99         63    1278           204
4   76       109        117    1682           270

In [6]:
x = np.array(x)
y = np.array(y)

# Fitting the data into Logistic Regression model

In [7]:
logreg = LogisticRegression()
logreg.fit(x, y)

C:\Users\Bhavesh\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Bhavesh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Dumping the logreg model into .pkl file

In [8]:
joblib.dump(logreg,"model_BloodPressure.pkl")

['model_BloodPressure.pkl']

In [9]:
model = joblib.load("model_BloodPressure.pkl")

In [10]:
age = float(input("Patient's age : "))
systolic = float(input("Systolic : "))
diastolic = float(input("Diastolic : "))
sodium = float(input("Sodium : "))
triglyceride = float(input("Triglyceride : "))

Patient's age :  35
Systolic :  35
Diastolic :  254
Sodium :  3574
Triglyceride :  56343

In [12]:
input_data = {
    'age' : [age],
    'systloic' : [systolic],
    'diastolic' : [diastolic],
    'sodium' : [sodium],
    'trigleceride' : [triglyceride]
}

In [13]:
input_data_df = pd.DataFrame(input_data)

In [14]:
prediction = model.predict(input_data_df)
print(prediction)

[0]

In [16]:
if prediction[0] == 0:
    print("Prediction: Blood Pressure level LOW")
elif prediction[0] == 1:
    print("Prediction: Blood Pressure level NORMAL")
elif prediction[0] == 2:
    print("Prediction: Blood Pressure level HIGH")

Prediction: Blood Pressure level LOW