# importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import joblib
import matplotlib.pyplot as plt

C:\Users\Bhavesh\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

# import the data file (.csv)

In [2]:
data = pd.read_csv('diabetes.csv')

In [3]:
data.head()

,Patient,Age,FBS,RBS,HbA1c,Outcome,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,1,35,80,180,4.5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,60,69,190,4.9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,49,102,215,6.9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,45,119,209,6.8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,67,111,105,4.9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Concatinating the dataset and converting then into array

In [4]:
x = data.iloc[:,1:5]
y = data[['Outcome']]

In [5]:
x.head()

   Age  FBS  RBS  HbA1c
0   35   80  180    4.5
1   60   69  190    4.9
2   49  102  215    6.9
3   45  119  209    6.8
4   67  111  105    4.9

In [6]:
x = np.array(x)
y = np.array(y)

# Fitting the data into Logistic Regression model

In [7]:
logreg = LogisticRegression()
logreg.fit(x, y)

C:\Users\Bhavesh\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

# Dumping the logreg model into .pkl file

In [8]:
joblib.dump(logreg,"model_diabetes.pkl")

['model_diabetes.pkl']

In [9]:
joblib.dump(logreg,"model_diabetes.sav")

['model_diabetes.sav']

In [10]:
model = joblib.load("model_diabetes.pkl")

In [11]:
age = float(input("Patient's age : "))
FBS = float(input("FBS : "))
RBS = float(input("RBS : "))
HbA1c = float(input("HbA1c : "))

Patient's age :  34
FBS :  355
RBS :  355
HbA1c :  74.9

In [12]:
input_data = {
    'age' : [age],
    'FBS' : [FBS],
    'RBS' : [RBS],
    'HbA1c' : [HbA1c]
}

In [13]:
input_data_df = pd.DataFrame(input_data)

In [14]:
prediction = model.predict(input_data_df)
if prediction[0] == 0:
    print("Prediction: Not Diabetic")
else:
    print("Prediction: Diabetic")

Prediction: Diabetic